%table.table
  %thead
    %tr
      %th #{t('product')}
      %th #{t('price')}
      %th #{t('qty')}
      %th #{t('total')}
  %tbody
    - @current_order.order_items.each do |item|
      %tr
        %td #{item.productable.title}
        %td #{item.price} #{t('currency')}
        %td #{item.quantity}
        %td #{total_for_item(item)} #{t('currency')}
    %tr
      - subtotal = @current_order.subtotal_price
      %td{colspan: 2}
      %td
        %strong #{t('subtotal')} :
      %td #{order_total(@current_order, subtotal)[:subtotal]} #{t('currency')}
    %tr
      %td{colspan: 2}
      %td
        %strong #{t('discount')} :
      %td #{order_total(@current_order, subtotal)[:discount]} #{t('currency')}
    %tr
      %td{colspan: 2}
      %td
        %strong #{t('total')} :
      %td #{order_total(@current_order, subtotal)[:total]} #{t('currency')}
.col-lg-12.col-md-12.col-sm-12
  .pull-right.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
    =link_to(t('place order'),checkout_index_path , method: :post, class: 'btn btn-success')
  .pull-right
    =link_to(t('go_shopping'),'/',class: 'btn btn-primary')
